/*--------------------------- SCA IKEqC CSS --------------------------*/
/*--------------------------- Documentwide ---------------------------*/

body {
/*background-image: url('images/mosaic3.jpg');*/
font-family: Verdana,Arial,sans-serif;
font-size: 1em;
background-color: #EFEFA7;
}

a:active { 
color: #494F3F; 
}
a:link { 
color: #494F3F;
}
a:visited { 
color: #4F4F3F; 
}

a:hover {
background-color: #929F7F;
}

h1 { 
font-size: 1.3em;
text-align: left;
letter-spacing: 2px;
}

h2 { 
font-size: 1.1em; 
text-align: center; 
letter-spacing: 2px; 
}

h3 { 
font-size: .9em; 
text-align: center; 
letter-spacing: 2px; 
}

h3.champion { 
font-size: .8em; 
text-align: center; 
letter-spacing: 1px; 
}

p {
font-size: .8em;
}

p.footer {
font-size: .6em;
font-weight: bold;
}

/*--------------------------- Total Content ---------------------------*/


#overalls {
width: 779px;
margin-left: auto;
margin-right: auto;
}

/* 779 is the maximum width for 800x600 screen */

/*--------------------------- Total Content ADMIN ---------------------*/


#biggirl-overalls {
width: 960px;
margin-left: auto;
margin-right: auto;
}

/* 960 is the maximum width for 1024x768 screen */

/*--------------------------- Header ----------------------------------*/

#header {
position: relative;
width: 779px;
height: 180px;
border: 2px solid #584C5F;
background-color: #ffffff;
}

#header a { 
font-size: .9em;
letter-spacing: 1px;
}

#header a:active { 
color: #57570F 
}
#header a:link { 
color: #57570F 
}
#header a:visited { 
color: #57570F 
}

#header a:hover {
background-color: #E4E467;
}

#header ul {
list-style-type: none;
}

/*---------------------- Header left side graphic ---------------------*/

#headerleftsquare {
position: absolute;
width:183px;
height:108px;
}

/*------------------------- Header Title Area -------------------------*/

#headercontent {
position: absolute;
margin-left: 183px;
width: 596px;
height: auto;
vertical-align: bottom;
/*width: 541px;*/
/*height: 64px;*/
/*padding: 22px;*/
}

#headercontent h1 {
font-size: 1.2em;
text-align: center;
}

#headercontent p {
text-align: center;
}

/*------------------------- Header navigation -------------------------*/

#hnav1,#hnav2,#hnav3,#hnav4 {
position: absolute;
width: 149px;
height: auto;
text-align: center;
line-height: 70%;
}

#hnav1 {
margin-left: 0px;
}

#hnav2 {
margin-left: 149px;
}

#hnav3 {
margin-left: 298px;
}

#hnav4 {
margin-left: 447px;
}

/*--------------------------- Header ADMIN ----------------------------*/

#headeradmin {
position: relative;
width: 960px;
height: 109px;
border: 2px solid #584C5F;
background-color: #E0FFB2;
}

#header a { 
font-size: .9em;
letter-spacing: 1px;
}

#header a:active { 
color: #57570F 
}
#header a:link { 
color: #57570F 
}
#header a:visited { 
color: #57570F 
}

#header a:hover {
background-color: #E4E467;
}

#header ul {
list-style-type: none;
}

/*------------------------- Header navigation ADMIN -------------------*/

#hnav1a,#hnav2a,#hnav3a,#hnav4a {
position: absolute;
width: 175px;
height: auto;
text-align: center;
line-height: 70%;
}

#hnav1a {
margin-left: 0px;
}

#hnav2a {
margin-left: 175px;
}

#hnav3a {
margin-left: 350px;
}

#hnav4a {
margin-left: 525px;
}

/*--------------------------- Main Window --------------------------------*/

#main-text {
position: relative;
margin-left: 0px;
width: 739px;
border: 2px solid #584C5F;
background-color: #FFFFFF;
padding: 20px;
}

#main-text h1 {
}

#main-text p {
 line-height: 150%;
}

/*--------------------------- Main Window ADMIN --------------------------*/

#maintextadmin {
position: relative;
margin-left: 0px;
width: 920px;
border: 2px solid #584C5F;
background-color: #ffffff;
padding: 20px;
}

#maintextadmin h1 {
}

#maintextadmin p {
 line-height: 150%;
}

/*------------------------- Score Table Pages ----------------------------*/

#scores {
border: 2px solid #D2EFA7;
width: auto;
height: auto;
padding: 2px;
text-align: center;
}

#yearchamp {
border: 4px solid #D2EFA7;
border-style: ridge;
width: auto;
height: auto;
background-color: #E0FFB2;
}

#scorelinks {
}

#scorelinks ul {
margin: 0px; 
padding: 0px; 
text-align: center;
}

#scorelinks ul li {
border-top: 2px solid #D2EFA7;
border-left: 2px solid #D2EFA7;
border-right: 2px solid #D2EFA7;
display: inline;
}

#scorelinks ul li a {
display: inline;
font-size: 0.7em;
padding-left: 3px; 
padding-right: 3px; 
padding-top: 3px; 
}

/*---------------------  Tables including Score Tables ----------------------------*/

/*

table-row-group (In HTML: TBODY)
    Specifies that an element groups one or more rows. 
table-header-group (In HTML: THEAD)
    Like 'table-row-group', but for visual formatting, the row group is always displayed before all other rows and row groups and after any top captions. Print user agents may repeat header rows on each page spanned by a table. If a table contains multiple elements with 'display: table-header-group', only the first is rendered as a header; the others are treated as if they had 'display: table-row-group'. 
table-footer-group (In HTML: TFOOT)
    Like 'table-row-group', but for visual formatting, the row group is always displayed after all other rows and row groups and before any bottom captions. Print user agents may repeat footer rows on each page spanned by a table. If a table contains multiple elements with 'display: table-footer-group', only the first is rendered as a footer; the others are treated as if they had 'display: table-row-group'. 
table-column (In HTML: COL)
    Specifies that an element describes a column of cells. 
table-column-group (In HTML: COLGROUP)
    Specifies that an element groups one or more columns. 
table-cell (In HTML: TD, TH)
    Specifies that an element represents a table cell. 
table-caption (In HTML: CAPTION)
    Specifies a caption for the table. All elements with 'display: table-caption' must be rendered, as described in section 17.4. 
    
*/    
  
table {
width: 100%;
}

table.scores {
border: 2px;
border-color: #D2EFA7;
text-align: center;
font-size: .8em;
border-style: solid;
width: 345px;
}

table.scorelist {
border: 1px;
border-color: #D2EFA7;
text-align: center;
font-size: .8em;
border-style: solid;
}

table p {
font-size: .8em;
text-align: center; 
margin-top: 2px; 
margin-bottom: 2px;
}

table p.notes {
font-size: .7em;
color: #C60035;
}

tr a:active { 
color: #000000; 
}
tr a:link { 
color: #000000;
}
tr a:visited { 
color: #000000; 
}

td {
text-align: center; 
border: 1px;
padding: 0.2em 1ex 0.2em 1ex;
margin: 0;
}

/* sg1 is the style for cells that show riders etc.*/
td.sg1 {
border-top: 1px;
border-bottom: 1px;
border-color: #D2EFA7;
border-style: solid;
background-color: #FFFFEE;
}

/* sg2 is the style for cells that show score numbers.*/ 
td.sg2 {
border-top: 1px;
border-bottom: 1px;
border-color: #D2EFA7;
border-style: solid;
background-color: #FBF9DC;
}

/* sgn is the style for empty (null) score grid lines. */
td.sgn {
border-top: 1px;
border-bottom: 1px;
border-color: #D2EFA7;
border-style: solid;
background-color: #EEEEEE;
}

/* sgh is the style for score grid headers. */
th.sgh {
border: 1px;
background-color: #EFE1A7;
}

/* sgheads is the style for heads scores detail cells. */
td.sgheads {
background-color: #CC3B47;
color: #eeeeee; 
width: 40px;
}
/* sgrings is the style for rings scores detail cells. */
td.sgrings {
background-color: #384323;
width: 40px;
color: #eeeeee; 
}
/* sgreeds is the style for reeds scores detail cells. */
td.sgreeds {
background-color: #475B87;
color: #eeeeee; 
width: 40px;
}
/* sgmoarch is the style for mounted archery scores detail cells. */
td.sgmoarch {
background-color: #CCC73B;
width: 40px;
}
/* sgbirjas is the style for birjas scores detail cells. */
td.sgbirjas {
background-color: #87477B;
color: #eeeeee; 
width: 40px;
}
/* sgall is the style for total IKEqC score detail cells. */
td.sgall {
background-color: #000000;
color: #eeeeee; 
width: 50px;
}

/*------------------------- Score Detail Pages ----------------------------*/

#scoredetail {
border: 2px solid #D2EFA7;
width: auto;
height: auto;
padding: 2px;
text-align: center;
}

/*--------------------------- Score Detail Tables -----------------------------------*/  
  
#scoredetail table {
width: 100%;
}

table.competitordetail {
border: 3px;
border-color: #000000;
font-size: .8em;
border-style: solid;
width: 100px;
}

table.competitordetail p {
font-size: .8em;
text-align: center; 
margin-top: 2px; 
margin-bottom: 2px;
}

table.competitordetail td.right {
text-align: right; 
border: 3px;
}

table.competitordetail td.left {
text-align: left; 
border: 3px;
}